<div class="universal" >

     <!--upper panel-->
     <app-upper-pannel></app-upper-pannel>

     <!-- Food Court intro text -->
    <div class="intro-text">
        <!--heading-->
        <div class="intro-text-heading">
            <b>Food Court at your doorstep</b>
        </div>

        <!--body-->
        <div class="intro-text-body">
             Indulge in wide variety of Indian, Continental, Chinese and thai cuisines soothing your taste buds.
        </div>

        <!--Explore menu-->
        <button class="explore-menu" (click)="exploreMenu()"><b>Explore Menu</b></button>

    </div>


    <!--Image container-->
    <img class="ambience" src="/assets/images/ambience.jpg">

    <!--line-->
    <div class="line"><b>__________________________________________________________</b></div>

</div>

